<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/adminstyle.css') }}" />
    
        <title>Admin Login</title>
    </head>
    <body>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Question</legend>
                <div class="form-group">
                    {{ form.sub_ques_id.label(class="form-control-label") }}
                    {% if form.sub_ques_id.errors %}
                        {{ form.sub_ques_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sub_ques_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sub_ques_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.perv_ans_id.label(class="form-control-label") }}
                        {% if form.perv_ans_id.errors %}
                            {{ form.perv_ans_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.perv_ans_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.perv_ans_id(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.next_ans_id.label(class="form-control-label") }}
                        {% if form.next_ans_id.errors %}
                            {{ form.next_ans_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.next_ans_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.next_ans_id(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.sub_ques_desc.label(class="form-control-label") }}
                        {% if form.sub_ques_desc.errors %}
                            {{ form.sub_ques_desc(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sub_ques_desc.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sub_ques_desc(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                    
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</body>
</html> 